

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  div {
    background: white;
    padding: 20px;
    border-radius: 10px;
    
    max-width: 400px;
   
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  input {
    width: calc(100% - 80px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li span {
    color: green;
    margin-right: 10px;
  }
  
  li button {
    background-color: #dc3545;
  }
  
  li button:hover {
    background-color: #c82333;
  }
  
  li button:nth-of-type(1) {
    background-color: #28a745;
    margin-left: 10px;
  }
  
  li button:nth-of-type(1):hover {
    background-color: #218838;
  }
  